*.a
*.o
*.exe
*.depend
*.layout
**/bin
**/obj
**/lib
**/libs
**/ratscript
!language/include/ratscript
docs/build
*.depend
*.layout
**/build_temp
*.config
!default.config
rsconsole
rsconsole_debug
codealike.json
