*.a
*.o
*.exe
.env
.pk
.pem
.pub
*.depend
*.layout
**/bin
**/obj
**/lib
**/libs
**/ratscript
!ratscript-source/include/ratscript
docs/build
*.depend
*.layout
**/build_temp
*.config
!default.config
console
console_debug
codealike.json
